services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command:
      - "start-dev"
      - "--import-realm"
    volumes:
      - ./keycloak:/opt/keycloak/data/import
    ports:
      - "8888:8080"

  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_DB: authorizator
      POSTGRES_PASSWORD: authorizator_sa
      POSTGRES_USER: authorizator_sa
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

  whoami:
    image: traefik/whoami
    container_name: whoami
    ports:
      - "8081:80"

volumes:
  postgres_data:
  redis_data: