version: "3.9"

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: authorizator
      POSTGRES_PASSWORD: authorizator_sa
      POSTGRES_USER: authorizator_sa
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:alpine
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

  whoami:
    image: containous/whoami
    ports:
      - "8081:80"

  httpbin:
    image: kennethreitz/httpbin
    ports:
      - "8082:80"

volumes:
  postgres_data:
  redis_data: